.RecommendedGames {
    margin: 2rem;
    margin-top: 6rem;

    .heading {
        margin-left: 1rem;

        h2 {
            font-size: 1.5rem;
            letter-spacing: 0.05rem;
            font-weight: bold;
        }
    }

    .RecommendedProducts {
        margin: 0.5rem;

        
        .imageDiv{

            margin: 0.8rem;

        }


        img{
            border-radius: 0.5rem;
            // padding: 0.8rem;
            
            
        }

        .image:hover{
            // opacity: 0.8;
            border: 0.005rem solid rgb(169, 169, 169);
            box-shadow: 8px 8px 3px rgb(204, 204, 204);
            cursor: pointer;
        }

        .details{
            padding: 1rem;
            
            h6{
                font-weight: bold;
                margin-bottom: 0.1rem;
            }
            p{
                color: rgb(160, 160, 160);
                font-size: 0.9rem;
                margin-bottom: 0;

                .fontSize{
                    font-size: small;
                    color: black;
                }
            }
            button{
                float: right;
            }
        }
    
}
}