.applications{
    // margin: 100px 200px;

    // margin: 2rem;
    margin-top: 4rem;
    margin-bottom: 0;
    padding-bottom: 0;
    // width: auto;
    display: flex;
    justify-content: center;

    .top {
        // margin-left: 1rem;
        margin-bottom: 1.5rem;
        // text-align: center;

        h2 {
            
            font-size: 1.5rem;
            letter-spacing: 0.05rem;
            font-weight: bold;
            text-transform: capitalize;
            // align-items: center;
            // text-align: center;
        }
    }

    .bottom{
        
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3.125rem;

    }



    // .top{
    //     display: flex;
    //     flex-wrap: wrap;
    //     align-items: center;
    //     justify-content: space-between;

    //     h2{
    //         flex:2;
    //     }

    //     p{
    //         flex:3;
    //     }
    // }

    
    @media only screen and (max-width: 767.5px) {

      margin-top: 3rem;
       
      .top{

        .row{
            display: flex;
            justify-content: center;
        }
        h2{
            display: flex;
            justify-content: center;
        }
      }

      .bottom{
        margin:auto;
        width: auto;
      }
    
      }


      @media only screen and (max-width: 991.5px) {
        // text-align: center;
       .top{

       

        .row{
            // display: flex;
            // justify-content: center;
        }
        
         h2{
            // text-align: center;
            //  margin-right: 1.5rem;
            // display: flex;
            // justify-content: center;
         }
       }
 
       .bottom{
         margin:auto;
         width: auto;

        //  display: flex;
        //  justify-content: center;
       }
     
       }
 

}